[package]
name = "nblog"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-web = "4.0.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sqlx = { version = "0.6.2", features = ["mysql", "runtime-tokio-rustls", "chrono"] }
tokio = { version = "1", features = ["full"] }
lazy_static = "1.4"
chrono = { version = "0.4", features = ["serde"] }
actix-cors = "0.6.0"
toml = "0.8.8"
serde_yaml = { version = "0.9.27", features = [] }
once_cell = "1.8.0"
rbatis = "3.0"